* {
	box-sizing: border-box;
	width: 100%;
}

html, body {
	margin: 0;
	padding: 0;
}

#root {
	display: flex;
	flex-direction: column;
}

.add-input {
	display: flex;
}

.add-input form {
	display: flex;
	flex-direction: row;

	padding: 1em;
	gap: 1em;
}

input {
	min-height: 2em;
	padding: 0.5em;
}

input[type="submit"] {
	width: 20%;
	background-color:rgba(61, 120, 175, 0.411);
	border: none;

	border-radius: 10px;
	cursor: pointer;
}

input[type="submit"]:focus, input[type="submit"]:hover {
	outline: rgba(61, 120, 175, 1) 1px solid;
}

.todo-list {
	display: flex;
	flex-direction: column;

	padding: 1em;
	gap: 1em;
}

.todo-list h1 {
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

.todo-item {
	display: flex;
	flex-direction: row;

	padding: 0.5em;
	padding-left: 1em;
	gap: 1em;

	background-color:rgba(61, 120, 175, 0.411);

	border-radius: 20px;
}

p {
	margin: auto;
	font-size: 1.25rem;
	word-wrap: break-word;
}

.del-button {
	border: red 1px solid;
	background-color: #f33;
	
	width: 20%;
	padding: 1em 0;

	border-radius: 15px;

	cursor: pointer;
}

.del-button:focus, .del-button:hover {
	outline: black 1px solid;
}